@import url("https://use.typekit.net/ktm4syd.css");

:root {
    --white: white;
    --near-white: #dadada;
    --black: black;
    --grey-black: #1d1d1d;
    --grey: #343338;
    --blue: #80bfff;
	--red: #ffcccc;
	--green: #c1f0c1;
	--purple: #dab3ff;
	--yellow: #fff0b3;
    --dark-text-color: var(--grey-black);
    --light-text-color: var(--near-white);
	--hrule: 1px solid color-mix(in srgb, var(--body-background-color), var(--border-color) 30%);
	--card-width: 200px;
}

[data-theme="light"] {
    /* Text Colors */
	--text-color: var(--grey-black);
    --contrasting-text-color: var(--near-white);
	--toast-text-color: var(--grey-black);
    /* Background Colors */
	--body-background-color: var(--white);
    --button-background-color: var(--near-white);
	--input-background-color: color-mix(in srgb, var(--blue), var(--white) 80%);
    --thead-background-color: var(--grey);
	--toast-background-color: var(--blue-color);
	--select-background-color: var(--white);
    /* Calculated Colors */
    --blue-color: var(--blue);
	--purple-color: var(--purple);
	--border-color: var(--grey-black);
	/* Cards*/
	--card-border: 1px solid var(--grey-black);
	--selected-card-border: 3px solid var(--blue-color);
	--card-shadow-color: rgba(127, 145, 163, 0.5);
	--action-card-color: var(--grey);
	--reaction-card-color: var(--blue);
	--attack-card-color: var(--red);
	--victory-card-color: var(--green);
	--curse-card-color: var(--purple);
	--treasure-card-color: var(--yellow);
	--unselectable-card-opacity: 50%;
}

[data-theme="dark"] {
    /* Text Colors */
	--text-color: var(--near-white);
    --contrasting-text-color: var(--grey-black);
	--toast-text-color: var(--grey-black);
    /* Background Colors */
	--body-background-color: var(--grey);
    --button-background-color: var(--grey-black);
    --input-background-color: color-mix(in srgb, var(--blue-color), var(--near-white) 50%);
    --thead-background-color: var(--grey-black);
	--toast-background-color: var(--blue-color);
	--select-background-color: var(--grey-black);
    /* Calculated Colors */
    --blue-color: color-mix(in srgb, var(--blue), #000000 15%);
	--purple-color: color-mix(in srgb, var(--purple), #000000 15%);
	--border-color: var(--blue-color);
	/* Cards*/
	--card-border: none;
	--selected-card-border: 3px solid var(--blue-color);
	--card-shadow-color: rgba(40, 40, 40, 0.5);
	--action-card-color: var(--grey-black);
	--reaction-card-color: var(--blue-color);
	--attack-card-color: color-mix(in srgb, var(--red), #000000 15%);
	--victory-card-color: color-mix(in srgb, var(--green), #000000 15%);
	--curse-card-color: var(--purple-color);
	--treasure-card-color: color-mix(in srgb, var(--yellow), #000000 15%);
	--unselectable-card-opacity: 20%;
}

[card-size="tiny"] {
	--card-width: 140px;
	--card-font-size: 14px;
	--card-body-top-padding: 7px;
	--card-stripe-width: 26px;
}

[card-size="small"] {
	--card-width: 160px;
	--card-font-size: 16px;
	--card-body-top-padding: 12px;
	--card-stripe-width: 30px;
}

[card-size="medium"] {
	--card-width: 180px;
	--card-font-size: 17px;
	--card-body-top-padding: 17px;
	--card-stripe-width: 34px;
}

[card-size="large"] {
	--card-width: 200px;
	--card-font-size: 18px;
	--card-body-top-padding: 22px;
	--card-stripe-width: 38px;
}

[font="modern"] {
	--title-font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--body-font-family: var(--title-font-family);
	--card-body-font-family: "Times New Roman", serif;
	--body-font-size: 16px;
}

[font="classic"] {
	--title-font-family: trajan-pro-3, serif;
	--body-font-family: var(--card-body-font-family);
	--card-body-font-family: minion-pro, serif;
	--body-font-size: 17px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	scroll-padding-top: 64px;
}

body {
	color: var(--text-color);
	background-color: var(--body-background-color);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: flex;
	margin-top: 7px;
}

input[type="checkbox"], input[type="radio"] {
	width: 14px;
	height: 14px;
	margin-top: 5px;
	margin-right: 10px;
}

input, button, select, textarea {
	font-family: var(--title-font-family);
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid var(--border-color);
	border-radius: 2px;
}

input {
    color: var(--dark-text-color);
    background-color: var(--input-background-color);
    border: 1px solid var(--border-color);
    width: 100%;
}

input:disabled {
	color: #ccc;
}

input:not(:last-child) {
	margin-bottom: 10px;
}

select {
	background-color: var(--select-background-color);
	color: var(--text-color);
}

button {
	color: var(--text-color);
	background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
}

.blueButton {
	background-color: var(--blue-color);
	color: var(--dark-text-color); 
	border-color: var(--dark-text-color);
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* Tables */

table {
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--border-color);
	border-collapse: collapse; 
}

thead {
    background-color: var(--thead-background-color);
    color: var(--light-text-color);
	font-family: var(--title-font-family);
}

thead tr {
	border-bottom: var(--hrule);
}

tbody {
	border-color: var(--border-color);
}

td, th {
    padding: 20px;
}

tbody tr:hover {
    background-color: color-mix(in srgb, var(--body-background-color), var(--blue-color) 20%);
}

tbody tr:not(:last-of-type) {
	border-bottom: var(--hrule);
}

/* Panels */

.panel {
	/* padding-right: 0.75rem;
	padding-left: 0.75rem; */
	margin-right: auto;
	margin-left: auto;
	left: 32px; /* half the width of the sidebar */
}

.panel-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 9999;
}

table, .panel {
	position: relative;
	width: 100%;
	max-width: 90vw;
	min-width: 90vw;
    left: 32px;
}

/* Do not show sidebar on mobile devices */
@media (max-width: 767px) {
	table, .panel {
		left: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font-family);
}

h2 {
    margin: 0px;
}

.space-above {
	margin-top: 50px;
}

.hoverable {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--border-color);
}

.hoverable .hoverable-text {
	visibility: hidden;
	position: absolute;
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	z-index: 9;
	font-size: 85%;
	width: 300px;
	background-color: var(--thead-background-color);
	color: var(--light-text-color);
	text-align: left;
	overflow-wrap: break-word;
	border-radius: 10px;
	padding: 10px;
}

.hoverable:hover .hoverable-text {
	visibility: visible;
	transition-delay: 0.3s;
}

.offset {
	/* Add an offset to any element by adding
		class="offset"
		style="--offset-{direction}={offset-amount};"

		Example: 

		<button class="offset" style="--offset-top: -8px;">
	*/
	margin-top: var(--offset-top);
	margin-bottom: var(--offset-bottom);
	margin-left: var(--offset-left);
	margin-right: var(--offset-right);
}

@keyframes blinking {
	0%, 30%, 70%, 100% {
		background-color: var(--body-background-color);
	}
	50% {
		background-color: color-mix(in srgb, var(--body-background-color), var(--blue-color) 10%);
	}
}